@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}
/* Blur */
.blurC {
	background: rgba(255, 255, 255, 0.75);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	border-radius: 0px 0px 10px 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

/*/////////////Categories Cards ///////////////*/
/* TODO Convert to Tailwind */
.cards {
	display: grid;
	margin: 48px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	column-gap: 50px;
	row-gap: 20px;
}
.cardscg {
	width: 100%;
	height: 250px;
	display: grid;
	cursor: pointer;
	position: relative;
	box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	grid-template-rows: 70% 30%;
}
.cardscg h1 {
	font-size: 30px;
	font-weight: 600;
	margin-left: 20px;
	margin-top: 20px;
}
.ShopNowcg {
	display: block;
	position: absolute;
	opacity: 0;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
	margin-left: 30px;
	font-weight: 600;
	grid-row: 2/2;
	outline-style: none;
}
.cardscg:hover .ShopNowcg {
	position: relative;
	transition: 0.5s all ease;
	opacity: 1;
	align-self: center; /*Vertical */
	justify-self: start; /*Horizontal */
	transform: translateY(-50px);
}
.cardscg:hover {
	transform: scale(1.1);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
	transition: 0.5s all ease;
	border-radius: 8px;
}
.cardscg:hover * {
	border-radius: 160px;
	color: white;
	z-index: 3;
}
.cardscg::after {
	border-radius: 8px;

	transition: 0.5s all ease;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	opacity: 0;
}
.cardscg:hover::after {
	display: block;
	transition: 0.5s all ease;
	transform: translateY(-20px);
	left: 0;
	right: 0;
	opacity: 0.9;
	z-index: 0;
	background: linear-gradient(180deg, rgb(75, 57, 116), rgba(0, 0, 0, 0.493));
}
.ShopNowcg::after {
	content: "";
	transition: all 1s ease-out;
	width: 0;
	height: 3px;
	position: absolute;
	left: 50%;
	right: 50%;
	top: 100%;
	background: white;
}
.cardscg:hover .ShopNowcg::after {
	transition: all 1s ease-out;
	width: 100%;
	left: 0;
	right: 0;
}



/* For Card */
.checkout {
	padding: 150px 1rem;
	display: flex;
 }
  .checkout__cart {
	flex-grow: 1;
 }
  .checkout__cart__ad {
	width: 70vw;
	padding-top: 0.2rem;
 }
  .checkout__cart__title {
	display: flex;
	justify-content: space-between;
	margin-left: 0.5rem;
	margin-top: 1rem;
	border-bottom: 1px solid grey;
 }
  .checkout__cart__title span:first-child {
	font-size: 1.6rem;
	margin-bottom: 0.5rem;
 }
  .checkout__cart__title span:last-child {
	align-self: flex-end;
 }
  .checkout__cart__message {
	margin: 1rem;
 }
  .checkout__cart__message > p {
	font-weight: 600;
	font-size: 1.8rem;
 }
  .checkout__cart__subtotal {
	text-align: right;
	margin: 1rem auto;
 }
  .checkout__cart__subtotal span:first-child {
	font-weight: 600;
 }
  .checkout__cart__subtotal span:last-child {
	font-weight: 800;
 }
  .checkout__cart__card {
	content: "";
	height: 1px;
	background: grey;
	width: 100%;
	margin-left: 0.5rem;
 }
  .checkout__subtotal {
	border: 1px solid #ddd;
	border-radius: 0.2rem;
	background-color: #eaeded;
	width: 18rem;
	min-width: 18rem;
	height: max-content;
	margin: 1rem;
	padding: 1rem;
 }
  .checkout__subtotal__title {
	margin-bottom: 1rem;
 }
  .checkout__subtotal__title span:first-child {
	margin-bottom: 1rem;
	font-weight: 600;
 }
  .checkout__subtotal__title span:last-child {
	margin-bottom: 1rem;
	font-weight: 800;
 }
  .checkout__subtotal__button {
	background-color: #f1c964 !important;
	border: 1px solid #a88733 !important;
	border-radius: 3px;
	padding: 5px 45px;
 }



/* For CheckOutCard */
 .checkout-card {
	display: flex;
 }
  .checkout-card__img {
	width: 8rem;
	object-fit: contain;
	margin: 1rem;
 }
  .checkout-card__body {
	display: flex;
	padding-top: 1rem;
	flex-grow: 1;
 }
  .checkout-card__title {
	font-size: 1.1rem;
	font-weight: 600;
	line-height: 1.2;
	color: rgb(1, 103, 192);
 }
  .checkout-card__status {
	font-size: 0.8rem;
	color: green;
	font-weight: 700;
 }
  .checkout-card__delivery {
	color: gray;
	font-size: 0.8rem;
	font-weight: 600;
 }
  .checkout-card__action {
	display: flex;
	align-items: center;
	margin-top: 20px;
 }
  .checkout-card__action__qty {
	width: 4rem;
	margin-top: 0.5rem;
 }
 .checkout-card__action__delete{
	margin-top: 15px;
 }
  .checkout-card__action__delete span:first-child {
	color: #ddd;
	padding-left: 1rem;
 }
  .checkout-card__action__delete span:last-child {
	cursor: pointer;
	color: rgb(1, 103, 192);;
	padding-left: 1rem;
	font-size: 0.8rem;
	font-weight: 600;
 }
  .checkout-card__price {
	font-weight: 600;
	padding-left: 0.6rem;
 }
  .checkout-card__content {
	flex-grow: 1;
 }
 .qtywidth{
	 width: 4em;
	 display: block;
	 border: 1px solid #ced4da;
	 padding-left: 6px;
	 padding-top: 4px;
	 padding-bottom: 4px;
	 border-radius: 4px;
	 /* #ced4da */
 }